<div class="row">
  <div class="col s2">
   <% if comment.user.picture? %>
   <%= image_tag comment.user.picture.url ,:style =>'width:100%'%>
   <% else %>
   <%= gravatar_for comment.user %>
   <% end %>
 </div>
 <div class="col s9">
 <div class="row" style="margin-bottom:0;">
   <%= link_to comment.user.first_name , comment.user %>
  </div>
  <div class="row" style="word-wrap:break-word;margin-bottom:0;">
    <%= comment.content %>
  </div>
  <div class="row" style="margin-bottom:0;">
    <%= time_ago_in_words(comment.created_at) %> ago.
    <span> · </span>
    Like
    <span> · </span>
    Likes
    <span> · </span>
    Reply
  </div>

</div>
<div class="col s1">
  <% if comment.user == current_user %>
  <%= link_to micropost_comment_path(micropost, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
  <i class="fa fa-times delete-comment"></i>
  <% end %>
  <% end %>
</div>
</div>