
<div style="overflow-y: auto;">
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<!-- Table -->
		<div>
			<% @users.each_with_index do |user, index| %>

			<!--  <td><%= index +=1 %></td> -->
			<div class="row" style="padding-top: 5px;padding-bottom: 0px;margin-bottom: 5px;">
				<div class="col s3">
					<% if user.picture? %>
					<%= link_to do %>
					<%= image_tag @user.picture.url ,:style =>'width:100%'%>
					<% end %>
					<% else %>
					<%= image_tag 'default-image.png',:style =>'width:100%' %>		
					<% end %>
				</div>
				<div class="col s9">
					<%= link_to truncate(user.first_name,:length=>20,:separator => ' ') , "#", class: "start-conversation",
					"data-sid" => current_user.id, "data-rip" => user.id %>
					<% if session[:user_id => user.id] %>
					y
					<% end %>
				</div>

			</div>

			<% end %>
		</div>
	</div>

</div>