<%= javascript_include_tag 'users.js'%>
<div class="container-fluid">
	<div class="row">
		<div class="col s1" style="padding: 0">
			menu
		</div>
		<div class="col s8" style="padding: 0">
			<div class="row">
				<div class="col s12" style="padding: 0">
					<!--<%= image_tag 'back.jpg' ,:style=>'height:300px;width:100%'%>
					 <div class="col s3" style="position: absolute;margin-top: -116px;">
						<% if @user.picture? %>
						<%= image_tag @user.picture.url ,:style =>'  width: 55%;min-height:160px'%>
						<% else %>
						<%= image_tag 'default-image.png' ,:style =>'  width: 55%;min-height:160px'%>		
						<% end %>
					</div> -->
					<div class="blog_cover">

					</div>
					<div class="blog_info">
						<left>
							<% if @user.picture? %>
							<%= image_tag @user.picture.url ,class: 'blog_pic'%>
							<% else %>
							<%= image_tag 'default-image.png' ,class: 'blog_pic'%>
							<% end %>
						</left>
						<div class="blog_info_text">
							<h2><%= @user.first_name %></h2><br/>
							<h3>This is the description of this blog This is the description of this blog This is the description of this blog This is the description of this blog </h3><br/>
							<a href="#">http://www.website.com</a><br/>
						</div>
						<div class="blog_menu_container">
							<button class="blog_menu btn_follow">Follow</button>
							<button class="blog_menu">Message</button>
						</div>

						<div class="blog_sub_menu">

							<button class="active posts">Posts</button>
							<button class="photos">Photos</button>
							<button class="about">About</button>

						</div>

					</div>
				</div>
			</div>
			<div class="row">
				<!-- <div class="col s7 offset-s3" style="margin-top:-15px">
					<%= render 'users/user_profile_info' %>
				</div> -->
				<div class="col s2">
					<%= render 'follow_form' %>
				</div>
			</div>
			<div class="row" style="padding-top:20px">
				<div class="col s9">
					<div id="test1">
						<%= render 'shared/micropost_form' %>

						<% if @user.microposts.any? %>
						<%= render @microposts %>
						<% end %>
					</div>
					<div id="test2">
						<% if @user.following.any? %>
						<%= render 'users/following' %>
						<% else %>
						No following
						<% end %>
					</div>
				</div>
				<!-- <div class="col s4">
					<div class="row">

						<ul class="tabs" style="overflow:hidden">
							<li class="tab">
								<a href="#test1" class="active">
									<strong id="followers" class="stat">
										<%= @user.followers.count %>
									</strong>
									followers
								</a>
							</li>
							<li class="tab">
								<a href="#test2">
									<strong id="following" class="stat">
										<%= @user.following.count %>
									</strong>
									following
								</a>
							</li>
						</ul>
					</div>
					<div id="test1" class="col s12">
						<% if @followers.any? %>
						<%= render 'users/followers' %>
						<% else %>
						No Followers
						<% end %>
					</div>
					<div id="test2" class="col s12">
						<% if @user.following.any? %>
						<%= render 'users/following' %>
						<% else %>
						No following
						<% end %>
					</div>

				</div> -->
			</div>
		</div>
		<div id="chatbox" class="col s2">
			<%= render 'users/chat' %>
		</div>
	</div>
</div>

