
<div class="navbar-fixed">
  <nav style="background-color: #2A80BA">
    <div class="nav-wrapper">
      <%= link_to "Connector", root_path, id: "logo" ,class: "brand-logo"%>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
        </li>
        <% if logged_in? %>
        <li>
          <%= form_tag(users_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Connector" %>
          <%= submit_tag "Search" ,:style =>'display:none'%>
          <% end %>
          <% user_array = Array.new %>
          <% @users.each do |user| %>
          <% user_array.push(user.first_name+" "+user.last_name) %>
          <% end %>
        </li>
       <!--  <li>
          <div class="ui-widget">
            <input id="tags" placeholder="Search Connector..">
          </div>

        </li> -->
        <li>
          <%= link_to current_user.first_name, current_user %>
        </li>
       <!--  <li>
          <a class='dropdown-button' href='#' data-activates='dropdown12' data-beloworigin="true"><i class="fa fa-envelope-o"></i>
            <sup>
              <%= current_user.conversations.count %>
            </sup>
          </i></a>

           Dropdown Structure -->
         <!--  <ul id='dropdown12' class='dropdown-content'>
            <li>Messages</li>
            <% if @conversations.any? && logged_in?%>
            <%=render 'conversations/conversations' %>
            <% else %>
            <p>You have no conversations. Click send message with any user to create one.</p>
            <% end %>
          </ul>
        </li> -->
        <li>
          <a class='dropdown-button' href='#' data-activates='dropdown11'">
            <i class="fa fa-bell"></i>
            <sup>
              <%= current_user.notifications.where(read:false).count %>
            </sup>
          </a>
          <!-- Dropdown Structure -->
          <ul id='dropdown11' class='notify-list'>
            <li class="head" style="text-align:center">Notification</li>

            <%= render 'notifications/notifications' %>

          </ul>

        </li>
        <% if current_user.admin?%>
        <li>
          <%= link_to "Users", users_path %>
        </li>
        <% end %>
        <li class="dropdown">
         <a class='dropdown-button btn' href='#' data-activates='dropdown13' data-beloworigin="true">
           Account
         </a>
         <ul id='dropdown13' class='dropdown-content'>
          <li>
            <%= link_to "Profile", current_user %>
          </li>
          <li>
            <%= link_to "Settings", edit_user_path(current_user) %>
          </li>
          <li class="divider"></li>
          <li>
            <%= link_to "Log out", logout_path, method: "delete" %>
          </li>
        </ul>
      </a>
    </li>
    <% else %>
    <li>
      <ul>
       <%= form_for(:session, url: login_path) do |f| %>
       <li>
        <%= f.email_field :email, :placeholder =>'Email' %>
      </li>
      <li>
        <%= f.password_field :password, class: 'form-control' ,:placeholder =>'Password'%>
      </li>
      <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
<ul class="side-nav" id="mobile-demo" style="transform: translateX(0%);display:none">
  <%= render 'layouts/header_content' %>
</ul>
</div>
</nav>
</div>
<script type="text/javascript">
  $(function() {
    $(".button-collapse").sideNav();
    var availableTags = [];
    var ar = "<%= user_array %>";
    while(ar.search("&quot;")>0){

      ar = ar.replace  ('&quot;','"');
    }
    //console.log(ar);
    availableTags = JSON.parse(ar);
    //console.log(availableTags);
    $( "#tags" ).autocomplete({
      source: availableTags
    });
    $("#tags").bind('keydown',function(e){
       if(e.keyCode == 13) {
          $.ajax({url:'/users/1'});
       }
    });

  });
</script>

